*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
}
.main-app-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-products-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.product-wrapper{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-details-wrapper{
  display: flex;
  line-height: 1.4;
  padding-left: 10px;

}
.product-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  padding-left: 10px;

}
img{
}
.product-image{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: border-box;

}
